<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <title>Spotfy</title>
    <script src="https://kit.fontawesome.com/649acc4595.js" crossorigin="anonymous"></script>

</head>
<body>
  
        <header>
            <div class="conteudo">
                <div class="imgheader">
                    <img src="img/logo.png" alt="logo img spotify">
                </div>
           

                <div class="list">
                    <ul>
                        <li><a href="">Premium</a></li>
                        <li><a href="">Ajuda</a></li>
                        <li><a href="SpotifySetup.exe">Baixar</a></li>
                        <li>|</li>
                        <li><a href="/inscrever-se">Inscrever-se</a></li>
                        <li><a href="login">Entrar</a></li>
                    </ul>
                </div>
            </div>
            
        </header>
        
        <section>
            <id id="conteudo22">
                <div class="conteudo2" >
                    <div class="texto1">
                            Música para todos
                    </div>
                    <div class="texto2">
                            Milhões de música à sua escolha. E nem precisa de cartão de crédito
                    </div>

                    <div class="buttom">
                            OBTENHA O SPOTIFY FREE
                    </div> 
                </div>
            </id>
        </section>
        
        <footer>
            <div class="conteudofooter">
                <div class="img">
                    <img src="img/logo.png" alt="">
                </div>
                <div class="paragrafo">
                    <p id="selected">Empresa</p>
                    <p>Sobre<p>
                    <p>Emprego</p>
                    <p>For the<br/>
                        record
                    </p>
                </div>

                <div class="paragrafo">
                    <p id="selected">Comunidades</p>
                    <p>Para Artistas<p>
                    <p>Desenvolvedores</p>
                    <p>Marcas</p>
                    <p>Investidores</p>
                    <p>Fornecedores</p>
                </div>

                <div class="paragrafo">
                    <p id="selected">LINKS ÚTEIS</p>
                    <p>Ajuda<p>
                    <p>Player da Web</p>
                    <p>Aplicativo<br/>
                       móvel<br/>
                        grátis
                    </p>
                </div>
                
                <div class="social">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>

                <div class="conteudofinal">
                    <div class="p">
                        <p>Legal</p>
                        <p>Centro de Privacidade</p>
                        <p>Politíca de Privacidade</p>
                        <p>Cockies</p>
                        <p>Sobre anúnicos</p>

                    </div>

                    <div class="flex">
                       
                        <div class="img_brasao">
                            <p>brasil</p>
                            <img src="img/brazil.png" alt="brasao">
                        </div>
                        
                        <p style="margin-right: 120;">© 2020 Spotify AB</p>
                    </div>
                </div>
               
            </div>
           
            
          
        </footer>
        
</body>
</html>