<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Spotify</title>
    <link rel="stylesheet" href="style/login.css">
    <script src="https://kit.fontawesome.com/649acc4595.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/3c/d4/53/3cd453f0a81c4c04d2f38c6e04219ea6.png" type="image/x-icon">

</head>
<body>
    <header>
            <img src="img/spotify-logo-preto-png.png" alt="logo Spotify">
    </header>
    
    <div class="erro">
        <div class="buttomerror">
            <i class="fa-solid fa-triangle-exclamation"></i>
            Nome de usuário ou senha incorretos.
        </div>
    </div>
    <div class="buttoface">
        <div class="buttom">
            <i class="fa-brands fa-square-facebook">
                
            </i>
            <P>CONTINUAR COM O FACEBOOK</P>
        </div>

    </div>

    
    <div class="buttomapplee">
        <div class="buttomapple">
            <i class="fa-brands fa-apple"></i>
            CONTINUAR COM A APPLE
        </div>
    </div>
    

    <div class="buttomgoogle">
        <div class="gooole">
            <i class="fa-brands fa-google"></i>
            CONTINUAR COM O GOOGLE
        </div>
    </div>

    <div class="buttomgoogle">
        <div class="gooole">
            CONTINUAR COM UM NÚMERO DE TELEFONE
        </div>
    </div>
    

    <div class="ou">
        <div class="center">
            <p>ou</p>
        </div>
    </div>

    <div class="dados">
      

        <form action="">
            <p style="margin-left: 19px;">Endereço de e-mail ou nome de usúario</p>
            <input type="text" placeholder="Endereço de e-mail ou nome de usuário" style="margin-left: 19px;" id="email">

            <p style="margin-left: 19px;">Senha</p>
            <input type="text" placeholder="Senha" style="margin-left: 19px;" id="senha">

            <div class="senha" style="margin-left: 19px;">
                <span>Esqueceu a Senha?</span>
            </div>
        </form>
    </div>

    <div class="radio">
       <div class="inputtxt">
        <input type="radio">
        Lembra de mim
       </div>
        <div class="button-enviar">
            <button>Entrar</button>
        </div>
        
      
    </div>

    <div class="buttomborder">
            <span></span>
    </div>

    <div class="final">
        <span>Não tem uma conta?</span>

        <div class="buttomgoogle">
            <a href="inscrever-se"><div class="gooole">
               INSCREVER-SE NO SPOTIFY
            </div></a>
        </div>
    </div>

    <script src="scripts/login.js">

    </script>
